# P012 特征提取-元素个数

In [3]:
import pandas as pd

In [13]:
data_dict = {
    'currency': [
        ['PLN', 'USD'],
        ['EUR', 'USD', 'PLN', 'CAD'],
        ['GBP'],
        ['JPY', 'CZK', 'HUF'],
        []
    ]
}
df = pd.DataFrame(data_dict)
df

               currency
0            [PLN, USD]
1  [EUR, USD, PLN, CAD]
2                 [GBP]
3       [JPY, CZK, HUF]
4                    []

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  5 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes

In [17]:
df.iloc[0]

currency    [PLN, USD]
Name: 0, dtype: object

In [21]:
type(df.iloc[0][0])

/var/folders/34/3vh5x54s4xg2km1nzym1x4b80000gn/T/ipykernel_88353/176430664.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(df.iloc[0][0])

list

In [23]:
df["number"] = df["currency"].map(len)

In [25]:
df

               currency  number
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0

# P013 特征提取-是否包含元素

In [28]:
# 问题：有一列是list类型，新增一列USD_flag，如果第一列包含USD则是1，否则是0

In [30]:
data_dict = {
'currency': [
    ['PLN', 'USD'],
    ['EUR', 'USD', 'PLN', 'CAD'],
    ['GBP'],
    ['JPY', 'CZK', 'HUF'],
    []
]
}
df = pd.DataFrame(data_dict)
df

               currency
0            [PLN, USD]
1  [EUR, USD, PLN, CAD]
2                 [GBP]
3       [JPY, CZK, HUF]
4                    []

In [34]:
df["number"] = df["currency"].map(
    lambda x: 1 if "USD" in x else 0
)

In [36]:
df

               currency  number
0            [PLN, USD]       1
1  [EUR, USD, PLN, CAD]       1
2                 [GBP]       0
3       [JPY, CZK, HUF]       0
4                    []       0

# P014 特征提取-从字符串提取标签

In [41]:
# 问题：从一个大字符串，提取多个标签tag，变成普通的列

In [69]:
import pandas as pd

df = pd.DataFrame({
    'tags': ['#good#vibes', '#hot#summer#holiday', '#street#food', '#workout']
})

df

                  tags
0          #good#vibes
1  #hot#summer#holiday
2         #street#food
3             #workout

In [85]:
df = df["tags"].str.split("#", expand=True)
df

  0        1       2        3
0       good   vibes     None
1        hot  summer  holiday
2     street    food     None
3    workout    None     None

In [87]:
df = df.drop(columns=[0])
df

         1       2        3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

In [89]:
df.columns = ['tag1','tag2','tag3']

In [91]:
df

      tag1    tag2     tag3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

# P015 特征提取-每行缺失值个数

In [94]:
# 问题：每一行有一些空值，计算这一行空值的个数，给一个新字段missing

In [96]:
df

      tag1    tag2     tag3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

In [98]:
df.isnull().sum()

tag1    0
tag2    1
tag3    3
dtype: int64

In [100]:
df.isnull().sum(axis=1)

0    1
1    0
2    1
3    2
dtype: int64

In [102]:
df["missing"] = df.isnull().sum(axis=1)

In [106]:
df

      tag1    tag2     tag3  missing
0     good   vibes     None        1
1      hot  summer  holiday        0
2   street    food     None        1
3  workout    None     None        2

# P016 特征提取-字符串清理转数字

In [109]:
import pandas as pd

df = pd.DataFrame({
    'investments': ['100_000_000', '100_000', '30_000_000', '100_500_000']
})

df

   investments
0  100_000_000
1      100_000
2   30_000_000
3  100_500_000

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   investments  4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes

In [117]:
df["investments"] = df["investments"].str.replace("-", "").astype(int)

In [119]:
df

   investments
0    100000000
1       100000
2     30000000
3    100500000

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   investments  4 non-null      int64
dtypes: int64(1)
memory usage: 164.0 bytes