# P008-数值离散化-等宽区间

In [54]:
# 问题
# 新增一个weight_cut列，分成3个等间距区间，实现离散化

In [55]:
import pandas as pd
import numpy as np

df = pd.DataFrame(data={'weight':[75.,78.5,85.,91.,84.5,83.,68.]})
df

   weight
0    75.0
1    78.5
2    85.0
3    91.0
4    84.5
5    83.0
6    68.0

In [56]:
df["weight_cut"] = pd.cut(df["weight"], bins=3)

In [57]:
df

   weight        weight_cut
0    75.0  (67.977, 75.667]
1    78.5  (75.667, 83.333]
2    85.0    (83.333, 91.0]
3    91.0    (83.333, 91.0]
4    84.5    (83.333, 91.0]
5    83.0  (75.667, 83.333]
6    68.0  (67.977, 75.667]

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   weight      7 non-null      float64
 1   weight_cut  7 non-null      category
dtypes: category(1), float64(1)
memory usage: 351.0 bytes

# P009-数值离散化-指定区间

In [60]:
import pandas as pd

In [61]:
df = pd.DataFrame(data={'weight':[75.,78.5,85.,91.,84.5,83.,68.]})
df

   weight
0    75.0
1    78.5
2    85.0
3    91.0
4    84.5
5    83.0
6    68.0

In [62]:
df["weight_cut"] = pd.cut(df["weight"], bins=[60,75,80,95])

In [63]:
df

   weight weight_cut
0    75.0   (60, 75]
1    78.5   (75, 80]
2    85.0   (80, 95]
3    91.0   (80, 95]
4    84.5   (80, 95]
5    83.0   (80, 95]
6    68.0   (60, 75]

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   weight      7 non-null      float64
 1   weight_cut  7 non-null      category
dtypes: category(1), float64(1)
memory usage: 351.0 bytes

# P010-数值离散化-区间标签

In [66]:
# 问题
# 1.新增一列weight_cut， 自己制定区间为（60，75，80，95），并且指定标签，实现离散化

In [67]:
import pandas as pd
df = pd.DataFrame(data={'weight':[75.,78.5,85.,91.,84.5,83.,68.]})
df

   weight
0    75.0
1    78.5
2    85.0
3    91.0
4    84.5
5    83.0
6    68.0

In [68]:
df["weight_cut"] = pd.cut(df["weight"], bins=[60,75,80,95], labels=['light', 'normal', 'heavy'])

In [69]:
df

   weight weight_cut
0    75.0      light
1    78.5     normal
2    85.0      heavy
3    91.0      heavy
4    84.5      heavy
5    83.0      heavy
6    68.0      light

# P011-数值离散化-虚拟编码

In [71]:
# 问题：
# 1.新增一列weight_cut， 自己制定区间为（60，75，80，95），并且指定标签，实现离散化
# 2.使用pd.get_dummies实现虚拟编码

In [72]:
import pandas as pd
df = pd.DataFrame(data={'weight':[75.,78.5,85.,91.,84.5,83.,68.]})
df["weight_cut"] = pd.cut(df["weight"], bins=[60,75,80,95], labels=['light', 'normal', 'heavy'])
df

   weight weight_cut
0    75.0      light
1    78.5     normal
2    85.0      heavy
3    91.0      heavy
4    84.5      heavy
5    83.0      heavy
6    68.0      light

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   weight      7 non-null      float64
 1   weight_cut  7 non-null      category
dtypes: category(1), float64(1)
memory usage: 327.0 bytes

In [74]:
df = pd.get_dummies(df)

In [75]:
df

   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0              True              False             False
1    78.5             False               True             False
2    85.0             False              False              True
3    91.0             False              False              True
4    84.5             False              False              True
5    83.0             False              False              True
6    68.0              True              False             False